* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    margin: 0px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #000000, #ffffff, #696666);
    padding: 30px; 
    font-family: 'Roboto', sans-serif;
    
}  

.principal {
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.conteudo-sobre-mim {
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 8px 16px;
    box-shadow: 0 30px 40px rgba(0, 0, 0);
    font-size: 1.2em;
    line-height: 1.6;
    color: #333333;
    transition: transform 0.3s ease;
}

.conteudo-sobre-mim:hover {
    transform: scale(1.01);
}

h1.titulo-principal {
    font-size: 3em;
    margin-bottom: 20px;
    text-align: center;
    color: #000000;
}

.conteudo-sobre-mim p {
    margin-bottom: 15px;
}

.container-links {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    align-items: center;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.container-links a {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 15px 30px;
    border-radius: 5px;
    background-color: #ffffff;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: transform 0.3s ease;
    box-shadow: 0 30px 40px rgba(0, 0, 0);
}

.container-links a:hover {
    transform: scale(1.02);
}

.container-links a i {
    margin-right: 8px;
    font-size: 1.1em;
}

@media (max-width: 600px) {
    .container-links {
        flex-direction: column;
    }

    .container-links a {
        width: 100%;
        justify-content: center;
    }
}

#btn-tema {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 30px 40px rgba(0, 0, 0);
    transition: transform 0.3s ease;
    font-size: 1.2em;
}

.btn-tema:hover {
    transform: scale(1.02);
}

.btn-tema i {
    color: #000000;
}

body.dark-mode .conteudo-sobre-mim,
body.dark-mode .container-links a,
body.dark-mode .btn-tema i {
    background: linear-gradient(135deg, #1e1e1e, #4e4d4d, #ffffff);
    color: #f0f0f0;
}

body.dark-mode {
    background: linear-gradient(135deg, #121212, #2c2c2c, #696666);
}

body.dark-mode h1.titulo-principal {
    color: #f0f0f0;
}